<div class="container mt-5">
        <form >
                <input type="text" [(ngModel)]="name" name="something"/>
                <button (click)="search()">Chercher</button>
                <button (click)="loadData()">Réinitialisation</button>
        
                </form>
  <table class="table table-striped table-bordered table-hover">
      <thead class="thead">
      <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Manufacturer</th>
          <th scope="col">Released</th>
          <th scope="col">Discontinued</th>
          <th scope="col">edit</th>
      </tr>
      </thead>
      <tbody>
            <tr *ngFor="let c of page.content; let i = index">
                    <th scope="row">{{i+1+page.pageable.offset}}</th>
                     <td>{{c.name}}</td>
                     <td>{{c.manufacturer}}</td>
          <td>{{c.introducedDate}}</td>
          <td>{{c.discontinuedDate}}</td>
          <td><button (click)="detail(c.name)">Edit</button></td>
       
      </tr>
      </tbody>
  </table>
  <app-custom-page *ngIf="visible"
  [page]="page"
  (nextPageEvent)="getNextPage()" 
  (previousPageEvent)="getPreviousPage()"
  (pageSizeEvent)="getPageInNewSize($event)">
</app-custom-page>
</div>